@font-face {
  font-family: "Brusnika";
  src: url("../fonts/Brusnika.otf");
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}
@font-face {
  font-family: "Rounded Mplus 1c Light";
  src: url("../fonts/MPLUSRounded1c-Light.ttf");
}
html {
  overflow-x: hidden;
}
body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--fon);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
hr {
  height: 1px;
  background-color: var(--border-color);
}
input[type='checkbox'] {
  width: 30px;
  /* background-color: #B0206B; */
  border: none;
}

:root {
  /* Светлая тема (по умолчанию) */
  --fon: #FAFFFB;
  --text-color: #12321A;
  /* --header-bg: #fff; */
  /* --card-bg: #fff; */
  --button-bg: #6A9929;
  --button-text: #FAFFFB;
  --button-bg-active: #A0B297;
  --border-color-active: #A0B297;
  --bg-color-one: #D6E2CC;
  --bg-color-two: #F4EFE2;
  --bg-color-three: #A0B297;
  /* --border-color: #410e28; */
  /* --chekbox: #EDC6D1; */
}


/*                header             */

.header_content2 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 90px;
  align-items: center;
  padding: 0 20px;
}


/*                header             */

/*                banner             */
.banner{
  height: 800px;
  /* margin-bottom: 120px; */
}
.banner_content{
  top: 260px;
  position: absolute;
  max-width: 660px;
  font-family: "Rounded Mplus 1c Light";
}
.banner_content_text{
  font-size: 2.8vw;
  font-weight: 100;
  margin: 0 0 15px 0;
}
.banner_content_tagline{
  font-size: 25px;
  font-weight: 100;
  margin: 0 0 100px 0;
}
.banner_content_btn{
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 280px;
  height: 50px;
  font-size: 22px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.banner_image{
  max-width: 780px;
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 1;
}
.banner_img{
  width: 100%;
}

/*                banner             */

/*                application             */
.application{
  max-width: 100%;
  margin-bottom: 190px;
}
.appli_title{
  font-size: 3.8vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}
.appli_content{
  display: grid;
  grid-template-columns: repeat(2, 400px);
  column-gap: 90px;
  row-gap: 15px;
}
.appli_content_paragraph{
  display: flex;      
  align-items: center; 
  /* align-items: baseline;  */ /* Выравнивание по базовой линии текста */
  gap: 40px;
  font-size: 4.0vw;
  font-weight: 100;
}
.appli_content_paragraph p{
  font-size: 22px;
}
/*                application             */

/*                levels             */
.levels{
  max-width: 100%;
  margin-bottom: 190px;
}
.levels_title{
  font-size: 3.8vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 40px 0;
}
.levels_buttons{
  width: 100%;
  display: flex;
  gap: 45px;
  margin-bottom: 90px;
}
.levels_btn{
  background-color: var(--button-bg-active);
  color: var(--button-text);
  width: 325px;
  height: 50px;
  font-size: 22px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.levels_btn:hover{
  /* box-shadow: 0 0 0 5px var(--fon),
              0 0 0 7px var(--border-color-active);   */
  /* transform: scale(1.02); */
  border-radius: 10px;
  outline: 3px dashed var(--border-color-active); 
  outline-offset: 6px;            
}
.levels_btn.active{
  border-radius: 10px;
  outline: 3px dashed var(--border-color-active); 
  outline-offset: 6px; 
}

.levels_info{
  display: flex;
  gap: 140px;
  transition: opacity 0.3s ease;
}
.levels_info_main{
  max-width: 660px;
}
.levels_info_title{
  font-size: 60px;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 10px 0;
}
.levels_info_text{
  font-family: "Rounded Mplus 1c Light";
  font-size: 24px;
  margin: 0 0 90px 0;
}
.levels_info_btn{
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 280px;
  height: 50px;
  font-size: 22px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.levels_info_dop{
  max-width: 660px;
}
.levels_info_dop p{
  font-size: 24px;
  line-height: 270%;
  margin: 0;
}
/*                levels             */

/*                from_zero             */
.from_zero{
  max-width: 100%;
}
.from_zero_content{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0;
}
.from_zero_main{
  max-width: 600px;
}
.from_zero_title{
  font-size: 3.8vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}
.from_zero_text{
  font-family: "Rounded Mplus 1c Light";
  font-size: 26px;
  margin: 0 0 180px 0;
}
.from_zero_btn{
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 280px;
  height: 50px;
  font-size: 22px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.from_zero_image{
  max-width: 670px;
  margin: 0;
}
.from_zero_img{
  width: 100%;
}
/*                from_zero             */

/*                premium             */
.premium{
  max-width: 100%;
  margin-bottom: 190px;
}
.premium_title{
  font-size: 3.8vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 50px 0;
}
.premium_content{
  display: grid;
  grid-template-columns: repeat(2, 550px);
  column-gap: 120px;
  row-gap: 60px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 80px auto;
}
.premium_box{
  display: flex;
  align-items: center;
  gap: 30px;
}
.premium_box_image{
  max-width: 225px;
  margin: 0;
}
.premium_box_img{
  width: 100%;
}
.premium_box_text{
  font-size: 26px;
  margin: 0;
  max-width: 300px;
}
.premium_button{
  margin: 0 auto 0 auto;
  text-align: center;
}
.premium_btn{
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 280px;
  height: 50px;
  font-size: 22px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*                premium             */

/*                reviews             */
.reviews{
  max-width: 100%;
  margin-bottom: 190px;
}
.reviews_title{
  font-size: 3.8vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}
.reviews_content{
  /* grid-template-columns: repeat(auto-fill, minmax(345px, 1fr)); */
  /* display: grid;
  grid-auto-flow: dense;
  align-items: start;
  grid-template-columns: repeat(4, 1fr); */

  width: 100%;
  max-width: 1400px; 
  gap: 20px;
  column-count: 4;

  /* display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  max-height: 5000px; 
  align-content: flex-start; */
}
.review {
  /* height: fit-content;
  grid-column: span 1;
  max-height: 100%; */

  /* flex: 1 0 calc(25% - 20px);
  min-width: 345px;
  box-sizing: border-box;
  break-inside: avoid;  */

  display: inline-block;
  /* width: 100%; */
  break-inside: avoid;
  background-color: var(--bg-color-two);
  padding: 30px 25px;
  border-radius: 15px;
  margin-bottom: 20px;
  border: none;
  transition: transform 0.3s ease;
}
.review.green{
background-color: var(--bg-color-one);
}
.review_text {
  font-size: 22px;
  color: var(--text-color);
  width: 100%;
  text-align: justify; /* Выравнивание по ширине */
  hyphens: auto;       /* Перенос слов (поддержка в браузерах) */
  word-break: break-word; /* Перенос длинных слов */
  margin: 0 0 50px 0;
}
.review_info{
  display: flex;
  gap: 20px;
  align-items: center;
}
.review_image{
  max-width: 75px;
  margin: 0;
}
.review_img{
  width: 100%;
}
.review_author {
  font-family: "Brusnika";
  font-size: 40px;
  color: var(--text-color);
  margin: 0;
}

/*                reviews             */