@font-face {
  font-family: "Brusnika";
  src: url("../fonts/Brusnika.otf");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

@font-face {
  font-family: "Rounded Mplus 1c Light";
  src: url("../fonts/MPLUSRounded1c-Light.ttf");
}

html {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--fon);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: var(--border-color);
}

input[type='checkbox'] {
  width: 30px;
  /* background-color: #B0206B; */
  border: none;
}

:root {
  /* Светлая тема (по умолчанию) */
  --fon: #FAFFFB;
  --text-color: #12321A;
  --button-bg: #6A9929;
  --button-text: #FAFFFB;
  --button-bg-active: #A0B297;
  --border-color-active: #A0B297;
  --bg-color-one: #D6E2CC;
  --bg-color-two: #F4EFE2;
  --bg-color-three: #A0B297;

  /* --header-bg: #fff; */
  /* --card-bg: #fff; */
  /* --border-color: #410e28; */
  /* --chekbox: #EDC6D1; */
}


/*                header             */

.header_content2 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
  align-items: center;
  padding: 0 20px;
}


/*                header             */

/*                banner             */
.banner {
  height: 800px;
}

.banner_content {
  top: 260px;
  position: absolute;
  max-width: 660px;
  font-family: "Rounded Mplus 1c Light";
}

.banner_content_text {
  font-size: 2.2vw;
  font-weight: 100;
  margin: 0 0 15px 0;
}

.banner_content_tagline {
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 100px 0;
}

.banner_content_btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.banner_img {
  width: 100%;
}



.banner_image{
  max-width: 780px;
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 1;
}

.banner_flower{
  width: 500px;
  position: absolute;
  top: 0; 
  right: -5%;
  z-index: 1;
}
.banner_dino{
  position: relative;
  margin-top: 150px;
  right: 35%;
  z-index: 3;
}
.banner_leaves{
  position: absolute;
  max-width: 600px;
  top: 50%; 
  right: -5%;
    z-index: 10;
}

.banner_flower_img{
  width: 100%;
}
.banner_dino_img{
  width: 100%;
} 
.banner_leaves_img{
  width: 100%; 
}

/*                banner             */

/*                application             */
.application {
  max-width: 100%;
  margin-bottom: 190px;
}
.appli_title{
  font-size: 3.0vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}

.appli_content {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  column-gap: 60px;
  row-gap: 15px;
}
.appli_content_paragraph{
  display: flex;      
  align-items: center; 
  /* align-items: baseline;  */ /* Выравнивание по базовой линии текста */
  gap: 20px;
  font-size: 2.5vw;
  font-weight: 100;
}
.appli_content_paragraph p{
  font-size: 18px;
}

/*                application             */

/*                levels             */
.levels {
  max-width: 100%;
  margin-bottom: 190px;
}
.levels_title{
  font-size: 3.0vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 40px 0;
}

.levels_buttons {
  width: 100%;
  display: flex;
  gap: 130px;
  margin-bottom: 60px;
}

.levels_btn {
  background-color: var(--button-bg-active);
  color: var(--button-text);
  width:300px;
  height: 38px;
  font-size: 22px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.levels_btn:hover {
  /* box-shadow: 0 0 0 5px var(--fon),
              0 0 0 7px var(--border-color-active);   */
  /* transform: scale(1.02); */
  border-radius: 10px;
  outline: 2px dashed var(--border-color-active); 
  outline-offset: 6px;            
}
.levels_btn.active{
  border-radius: 10px;
  outline: 2px dashed var(--border-color-active); 
  outline-offset: 6px; 
}
.levels_info {
  display: flex;
  gap: 140px;
  transition: opacity 0.3s ease;
}
.levels_info_main {
  max-width: 660px;
}
.levels_info_title{
  font-size: 45px;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 10px 0;
}

.levels_info_text {
  font-family: "Rounded Mplus 1c Light";
  font-size: 20px;
  margin: 0 0 90px 0;
}
.levels_info_btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.levels_info_dop {
  max-width: 660px;
}
.levels_info_dop p{
  font-size: 22px;
  line-height: 270%;
  margin: 0;
}

/*                levels             */

/*                from_zero             */
.from_zero {
  max-width: 100%;
}

.from_zero_content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0;
}

.from_zero_main {
  max-width: 600px;
}
.from_zero_title{
  font-size: 3.0vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}

.from_zero_text {
  font-family: "Rounded Mplus 1c Light";
  font-size: 22px;
  margin: 0 0 160px 0;
}

.from_zero_btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.from_zero_image{
  max-width: 600px;
  margin: 0;
}

.from_zero_img {
  width: 100%;
}

/*                from_zero             */

/*                premium             */
.premium {
  max-width: 100%;
  margin-bottom: 190px;
}
.premium_title{
  font-size: 3.0vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}

.premium_content {
  display: grid;
  grid-template-columns: repeat(2, 580px);
  column-gap: 30px;
  row-gap: 60px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 80px auto;
}

.premium_box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.premium_box_image{
  max-width: 180px;
  margin: 0;
}

.premium_box_img {
  width: 100%;
}
.premium_box_text{
  font-size: 20px;
  margin: 0;
  max-width: 300px;
}

.premium_button {
  margin: 0 auto 0 auto;
  text-align: center;
}

.premium_btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*                premium             */

/*                reviews             */
.reviews {
  max-width: 100%;
  margin-bottom: 190px;
}
.reviews_title{
  font-size: 3.0vw;
  font-weight: normal;
  font-family: "Brusnika";
  margin: 0 0 30px 0;
}

.reviews_content {
  /* grid-template-columns: repeat(auto-fill, minmax(345px, 1fr)); */
  /* display: grid;
  grid-auto-flow: dense;
  align-items: start;
  grid-template-columns: repeat(4, 1fr); */

  width: 100%;
  max-width: 1400px;
  gap: 20px;
  column-count: 4;

  /* display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  max-height: 5000px; 
  align-content: flex-start; */
}

.review {
  /* height: fit-content;
  grid-column: span 1;
  max-height: 100%; */

  /* flex: 1 0 calc(25% - 20px);
  min-width: 345px;
  box-sizing: border-box;
  break-inside: avoid;  */

  display: inline-block;
  /* width: 100%; */
  break-inside: avoid;
  background-color: var(--bg-color-two);
  padding: 30px 25px;
  border-radius: 15px;
  margin-bottom: 20px;
  border: none;
  transition: transform 0.3s ease;
}

.review.green {
  background-color: var(--bg-color-one);
}

.review_text {
  font-size: 18px;
  color: var(--text-color);
  width: 100%;
  text-align: justify; /* Выравнивание по ширине */
  hyphens: auto;       /* Перенос слов (поддержка в браузерах) */
  word-break: break-word; /* Перенос длинных слов */
  margin: 0 0 30px 0;
}

.review_info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.review_image{
  max-width: 60px;
  margin: 0;
}

.review_img {
  width: 100%;
}

.review_author {
  font-family: "Brusnika";
  font-size: 30px;
  color: var(--text-color);
  margin: 0;
}

/*                reviews             */






/*              адаптив            */
@media (max-width: 1400px) {
/*  header  */
.header_content2 {
  gap: 120px;
}
.banner {
  height: 740px;
}
/*  header  */

/*  banner  */
.banner_image {
  max-width: 720px;
}
.banner_flower {
  width: 470px;
}
.banner_leaves {
  max-width: 550px;
  top: 50%;
}
/*  banner  */

/*  application  */
.appli_title {
  font-size: 3.6vw;
}
.appli_content_paragraph {
  font-size: 3.2vw;
}
.appli_content_paragraph p {
  font-size: 17px;
  margin: 0;
}
/*  application  */

/*  levels  */
.levels_title {
  font-size: 3.6vw;
}
.levels_buttons {
  gap: 50px;
}
.levels_btn {
  height: 35px;
  font-size: 20px;
  border-radius: 8px;
}
.levels_info_text {
  font-size: 18px;
  margin: 0 0 90px 0;
}
.levels_info_dop p {
  font-size: 20px;
  line-height: 270%;
}
.levels_info_btn {
  width: 230px;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
}
/*  levels  */

/*  from_zero  */
.from_zero_title {
  font-size: 3.6vw;
  margin: 0 0 20px 0;
}
.from_zero_text {
  font-size: 20px;
  margin: 0 0 150px 0;
}
.from_zero_btn {
  width: 230px;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
}
.from_zero_image {
  max-width: 520px;
}
/*  from_zero  */

/*  premium  */
.premium_title {
  font-size: 3.6vw;
}
.premium_box_image {
  max-width: 160px;
}
.premium_box_text {
  font-size: 19px;
  max-width: 280px;
}
.premium_content {
  grid-template-columns: repeat(2, 520px);
  column-gap: 20px;
  row-gap: 40px;
  margin: 0 auto 60px auto;
}
.premium_btn {
  width: 230px;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
}
/*  premium  */

/*  reviews  */
.reviews_title {
  font-size: 3.6vw;
  margin: 0 0 20px 0;
}
.review {
  padding: 27px 21px 20px 21px;
  border-radius: 12px;
}
.review_text {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.review_image {
  max-width: 45px;
}
.review_author {
  font-size: 28px;
}
/*  reviews  */
}


@media (max-width: 1300px) {
  /*  header  */
.header_content2 {
  gap: 120px;
}
/*  header  */

/*  banner  */
.banner_image {
  max-width: 680px;
}
.banner_flower {
  width: 440px;
}
.banner_leaves {
  max-width: 510px;
  top: 51%;
}
.banner_content {
  top: 240px;
  max-width: 550px;
}
.banner_content_text {
  font-size: 2.6vw;
  margin: 0 0 10px 0;
}
.banner_content_tagline {
  font-size: 18px;
  margin: 0 0 80px 0;
}
.banner_content_btn {
  width: 230px;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
}
/*  banner  */

/*  levels  */
.levels_buttons {
  margin-bottom: 40px;
}
.levels_btn {
  font-size: 18px;
}
.levels_btn.active{
  border-radius: 8px;
  outline-offset: 4px; 
}
.levels_btn:hover {
  border-radius: 8px;
  outline-offset: 4px;            
}
.levels_info_main {
  max-width: 580px;
}
.levels_info_text {
  font-size: 17px;
}
.levels_info_dop p {
  font-size: 19px;
}
/*  levels  */

/*  from_zero  */
.from_zero_text {
  font-size: 18px;
  margin: 0 0 140px 0;
  max-width: 540px;
}
.from_zero_image {
  max-width: 500px;
}
/*  from_zero  */

}


@media (max-width: 1200px) {
/*  banner  */
.banner_image {
  max-width: 650px;
}
.banner_flower {
  width: 420px;
}
.banner_leaves {
  max-width: 480px;
  top: 52%;
}
.banner_content {
  max-width: 480px;
}
.banner_content_btn {
  height: 32px;
  font-size: 16px;
}
/*  banner  */

/*  application  */
.appli_title {
  font-size: 4.0vw;
}
.appli_content_paragraph {
  font-size: 3.5vw;
}
.appli_content_paragraph p {
  font-size: 16px;
}
/*  application  */

/*  levels  */
.levels_title {
  font-size: 4.0vw;
}
.levels_btn {
  height: 32px;
  font-size: 16px;
}
.levels_info_title {
  font-size: 38px;
}
.levels_info_text {
  font-size: 16px;
  margin: 0 0 70px 0;
}
.levels_info {
  gap: 100px;
}
.levels_info_dop p {
  font-size: 18px;
}
.levels_info_btn {
  height: 32px;
  font-size: 16px;
}
/*  levels  */

/*  from_zero  */
.from_zero_title {
  font-size: 4.0vw;
}
.from_zero_text {
  font-size: 16px;
  /* margin: 0 0 140px 0; */
}
.from_zero_btn {
  height: 32px;
  font-size: 16px;
}
.from_zero_image {
  max-width: 450px;
}
/*  from_zero  */

/*  premium  */
.premium_title {
  font-size: 4.0vw;
}
.premium_content {
  grid-template-columns: repeat(2, 480px);
}
.premium_box_image {
  max-width: 140px;
}
.premium_box_text {
  font-size: 17px;
  max-width: 250px;
}
.premium_btn {
  height: 32px;
  font-size: 16px;
}
/*  premium  */

/*  reviews  */
.reviews_title {
  font-size: 4.0vw;
}
.review_text {
  font-size: 15px;
}
.review_info {
  gap: 15px;
}
.review_image {
  max-width: 40px;
}
.review_author {
  font-size: 26px;
}
/*  reviews  */
}


@media (max-width: 1100px) {
/*  header  */
.header_content2 {
  gap: 100px;
}
/*  header  */

/*  banner  */
.banner_image {
  max-width: 610px;
}
.banner_flower {
  width: 400px;
}
.banner_leaves {
  max-width: 450px;
  top: 52%;
}
.banner_content {
  max-width: 410px;
}
/*  banner  */

/*  application  */
.appli_content {
  grid-template-columns: repeat(2, 350px);
}
.appli_content_paragraph p {
  font-size: 15px;
}
/*  application  */

/*  levels  */
.levels_info_main {
  max-width: 490px;
}
.levels_info_dop {
  max-width: 400px;
}
.levels_info_dop p {
  font-size: 17px;
}
/*  levels  */

/*  from_zero  */
.from_zero_main {
  max-width: 500px;
}
.from_zero_text {
  margin: 0 0 130px 0;
}
.from_zero_image {
  max-width: 410px;
}
/*  from_zero  */

/*  premium  */
.premium_content {
  grid-template-columns: repeat(2, 400px);
}
/*  premium  */

/*  reviews  */
.reviews_content {
  gap: 10px;
}
.review {
  border-radius: 12px;
  margin-bottom: 10px;
}
/*  reviews  */
}


@media (max-width: 1000px) {
/*  header  */
.header_content2 {
  gap: 50px;
}
/*  header  */

/*  banner  */
.banner {
  height: 620px;
}
.banner_image {
  max-width: 570px;
}
.banner_flower {
  width: 370px;
}
.banner_leaves {
  max-width: 410px;
  top: 54%;
}
.banner_content {
  top: 220px;
  max-width: 360px;
}
.banner_content_text {
  font-size: 2.9vw;
}
.banner_content_tagline {
  font-size: 16px;
  margin: 0 0 70px 0;
}
.banner_content_btn {
  height: 30px;
  width: 210px;
}
/*  banner  */

/*  application  */
.appli_content {
  grid-template-columns: repeat(2, 320px);
}
.appli_title {
  font-size: 4.4vw;
  margin: 0 0 20px 0;
}
.appli_content_paragraph {
  font-size: 3.9vw;
}
/*  application  */

/*  levels  */
.levels_title {
  font-size: 4.4vw;
  margin: 0 0 20px 0;
}
.levels_btn {
  height: 30px;
  width: 190px;
}
.levels_info_main {
  max-width: 430px;
}
.levels_info_text {
  font-size: 15px;
  margin: 0 0 70px 0;
}
.levels_info_btn  {
  height: 30px;
  width: 210px;
}
.levels_info_dop p {
  font-size: 16px;
  line-height: 260%;
}
/*  levels  */

/*  from_zero  */
.from_zero {
  margin-bottom: 90px;
}
.from_zero_main {
  max-width: 430px;
}
.from_zero_title {
  font-size: 4.4vw;
}
.from_zero_text {
  font-size: 15px;
  margin: 0 0 100px 0;
}
.from_zero_btn  {
  height: 30px;
  width: 210px;
}
.from_zero_image {
  max-width: 390px;
}
/*  from_zero  */

/*  premium  */
.premium_title {
  font-size: 4.4vw;
  margin: 0 0 20px 0;
}
.premium_content {
  grid-template-columns: repeat(2, 370px);
  row-gap: 20px;
  margin: 0 auto 50px auto;
}
.premium_box {
  gap: 20px;
}
.premium_box_image {
  max-width: 125px;
}
.premium_box_text {
  font-size: 16px;
}
.premium_button  {
  height: 30px;
  width: 210px;
}
/*  premium  */

/*  reviews  */
.reviews_title {
  font-size: 4.4vw;
}
.review {
  padding: 20px 15px 18px 15px;
}
.review_text {
  font-size: 14px;
}
.review_image {
  max-width: 36px;
}
.review_author {
  font-size: 24px;
}
/*  reviews  */
}


@media (max-width: 900px) {
/*  header  */
.header_content2 {
  gap: 40px;
}
/*  header  */

/*  banner  */
.banner {
  height: 590px;
}
.banner_image {
  max-width: 500px;
}
.banner_flower {
  width: 340px;
}
.banner_leaves {
  max-width: 390px;
  top: 54%;
}
/* .banner_content {
  top: 220px;
  max-width: 360px;
}
.banner_content_text {
  font-size: 2.9vw;
}
.banner_content_tagline {
  font-size: 16px;
  margin: 0 0 70px 0;
}
.banner_content_btn {
  height: 30px;
  width: 210px;
} */
/*  banner  */

/*  levels  */
.levels_info_main {
  max-width: 370px;
}
.levels_info {
  gap: 70px;
}
/*  levels  */
}


@media (max-width: 800px) {
/*  banner  */
.banner_image {
  max-width: 450px;
}
.banner_flower {
  width: 300px;
}
.banner_leaves {
  max-width: 340px;
  top: 54%;
}
.banner_content {
  top: 180px;
  max-width: 330px;
}
.banner_content_text {
  font-size: 3.7vw;
}
.banner_content_tagline {
  font-size: 17px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  banner  */

  /*  application  */
.appli_title {
  font-size: 6.9vw;
}
.appli_content {
  grid-template-columns: repeat(1, auto);
}
.appli_content_paragraph {
  font-size: 4.6vw;
}
.appli_content_paragraph p {
  font-size: 18px;
}
/*  application  */

/*  levels  */
.levels_title {
  font-size: 6.9vw;
}
.levels_buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  padding-bottom: 10px;
  width: calc(100% );
  /* margin-left: -20px; */
  padding-left: 20px;
  padding-top: 20px;
}  
.levels_buttons::-webkit-scrollbar {
  display: none; 
}   
.levels_btn {
  flex: 0 0 calc(100% / 3 - 14px);
  scroll-snap-align: start;
  width: auto;
  height: 42px;
  font-size: 20px;
}
.levels_buttons_container {
  position: relative;
} 
.levels_buttons::after {
  content: '';
  flex: 0 0 20px;
}
.levels_info {
flex-direction: column;
gap: 30px;
}
.levels_info_main {
  max-width: 100%;
}
.levels_info_title {
  font-size: 45px;
}
.levels_info_text {
  font-size: 18px;
  margin: 0;
}
.levels_info_dop {
  max-width: 100%;
  margin-bottom: 30px;
}
.levels_info_dop p {
  font-size: 20px;
}
.levels_info_button{
  margin: 0 auto;
  text-align: center;
}
.levels_info_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  levels  */

/*  from_zero  */
.from_zero_title {
  font-size: 6.9vw;
}
.from_zero_text {
  font-size: 17px;
  margin: 0 0 100px 0;
}
.from_zero_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
.from_zero_image {
  max-width: 320px;
}
/*  from_zero  */

/*  premium  */
.premium_title {
  font-size: 6.9vw;
}
.premium_content {
  grid-template-columns: repeat(1, auto);
  gap: 20px;
  margin: 0 auto 40px auto;
}
.premium_box {
  gap: 40px;
}
.premium_box_image {
  max-width: 170px;
}
.premium_box_text {
  font-size: 20px;
}
.premium_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  premium  */

/*  reviews  */
.reviews_title {
  font-size: 6.9vw;
}
.reviews_content {
  column-count: 3;
}
.review_text {
  font-size: 18px;
}
/*  reviews  */
}


@media (max-width: 750px) {
/*  banner  */
.banner {
  height: 470px;
}
.banner_image {
  max-width: 420px;
}
.banner_dino {
  margin-top: 130px;
  right: 29%;
}
.banner_flower {
  width: 270px;
}
.banner_leaves {
  max-width: 270px;
  top: 54%;
}
.banner_content {
  top: 160px;
  max-width: 320px;
}
.banner_content_text {
  font-size: 3.7vw;
}
.banner_content_tagline {
  font-size: 17px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  banner  */
}


@media (max-width: 700px) {
/*  header  */
.header_content2 {
  gap: 200px;
}
/*  header  */

/*  banner  */
.banner_flower {
  display: none;
}
.banner_leaves {
  display: none;
}
.banner_dino {
  display: none;
}
.banner_image {
max-width: 460px;
}
.banner_content {
  top: 120px;
  max-width: 350px;
}
.banner_content_text {
  font-size: 4.5vw;
}
.banner_content_tagline {
  font-size: 18px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 38px;
  width: 250px;
  font-size: 18px;
}
/*  banner  */

/*  from_zero  */
.from_zero {
  margin-bottom: 120px;
}
.from_zero_content {
  gap: 0;
}
.from_zero_image {
  display: none;
}
.from_zero_main {
  max-width: 100%;
}
.from_zero_text {
  font-size: 18px;
  margin: 0 0 40px 0;
  max-width: 100%;
}
/*  from_zero  */


/*  reviews  */
.reviews_content {
  column-count: 2;
}
.review_text {
  font-size: 20px;
}
.review_info {
  gap: 20px;
}
.review_image {
  max-width: 44px;
}
.review_author {
  font-size: 40px;
}
/*  reviews  */
}


@media (max-width: 600px) {
/*  banner  */
/* .banner_dino {
  margin-top: 90px;
  right: -3%;
} */
.banner {
  height: 370px;
}
.banner_image {
max-width: 410px;
}
.banner_content {
  top: 120px;
  max-width: 287px;
}
.banner_content_text {
  font-size: 3.8vw;
}
.banner_content_tagline {
  font-size: 16px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 35px;
  width: 210px;
  font-size: 17px;
}
/*  banner  */


/*  levels  */
.levels_btn {
  flex: 0 0 calc(100% / 2 - 14px);
  scroll-snap-align: start;
  width: auto;
  height: 42px;
  font-size: 20px;
}
.levels_buttons_container {
  position: relative;
}

.levels_info {
flex-direction: column;
gap: 30px;
}
.levels_info_main {
  max-width: 100%;
}
.levels_info_title {
  font-size: 45px;
}
.levels_info_text {
  font-size: 18px;
  margin: 0;
}
.levels_info_dop {
  max-width: 100%;
  margin-bottom: 30px;
}
.levels_info_dop p {
  font-size: 20px;
}
.levels_info_button{
  margin: 0 auto;
  text-align: center;
}
.levels_info_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  levels  */
}


@media (max-width: 500px) {

/*  application  */
.appli_title {
  font-size: 9.0vw;
}
.appli_content {
  grid-template-columns: repeat(1, auto);
}
.appli_content_paragraph {
  font-size: 5.4vw;
}
.appli_content_paragraph p {
  font-size: 17px;
}
/*  application  */


/*  levels  */
.levels_title {
  font-size: 9.0vw;
}
.levels_btn {
  flex: 0 0 calc(100% / 1 - 14px);
  height: 38px;
  font-size: 17px;
}
.levels_buttons_container {
  position: relative;
}

.levels_info {
gap: 20px;
}
.levels_info_title {
  font-size: 38px;
}
.levels_info_text {
  font-size: 17px;
}
.levels_info_dop {
  margin-bottom: 30px;
}
.levels_info_dop p {
  font-size: 17px;
  line-height: 220%;
}
.levels_info_btn {
  height: 35px;
  width: 220px;
  font-size: 17px;
}
/*  levels  */

/*  from_zero  */
.from_zero {
  margin-bottom: 120px;
}
.from_zero_title {
  font-size: 9.0vw;
}
.from_zero_text {
  font-size: 17px;
  margin: 0 0 40px 0;
  max-width: 100%;
}
.from_zero_btn {
  height: 35px;
  width: 220px;
  font-size: 17px;
}
/*  from_zero  */

/*  premium  */
.premium_title {
  font-size: 9.0vw;
}
.premium_box {
  gap: 25px;
}
.premium_box_image {
  max-width: 150px;
}
.premium_box_text {
  font-size: 18px;
}
.premium_btn {
  height: 35px;
  width: 220px;
  font-size: 17px;
}
.premium_button {
  height: 30px;
  width: 220px;
}
/*  premium  */

/*  reviews  */
.reviews_title {
  font-size: 9.0vw;
}
.reviews_content {
  column-count: 1;
}
.review{
  margin-bottom: 25px;
}
.review_text {
  font-size: 18px;
}
.review_info {
  gap: 20px;
}
.review_image {
  max-width: 46px;
}
.review_author {
  font-size: 36px;
}
/*  reviews  */
}



@media (max-width: 400px) {
.banner_content_text {
  font-size: 5.5vw;
}

/*  premium  */
.premium_content {
  gap: 15px;
  margin: 0 auto 30px auto;
}
.premium_box {
  gap: 25px;
}
.premium_box_image {
  max-width: 130px;
}
.premium_box_text {
  font-size: 17px;
}
/*  premium  */
}