@font-face {
  font-family: "Brusnika";
  src: url("../fonts/Brusnika.otf");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

@font-face {
  font-family: "Rounded Mplus 1c Light";
  src: url("../fonts/MPLUSRounded1c-Light.ttf");
}

html {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--fon);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: var(--border-color);
}

input[type='checkbox'] {
  width: 30px;
  /* background-color: #B0206B; */
  border: none;
}
h1{
    font-family: "Brusnika";
    font-size: 55px;
    font-weight: 100;
    text-align: center;
}

:root {
  /* Светлая тема (по умолчанию) */
  --fon: #FAFFFB;
  --text-color: #12321A;
  --button-bg: #6A9929;
  --button-text: #FAFFFB;
  --button-bg-active: #A0B297;
  --border-color-active: #A0B297;
  --bg-color-one: #D6E2CC;
  --bg-color-two: #F4EFE2;
  --bg-color-three: #A0B297;

  /* --header-bg: #fff; */
  /* --card-bg: #fff; */
  /* --border-color: #410e28; */
  /* --chekbox: #EDC6D1; */
}




/*                header             */

.header_content2 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
  align-items: center;
  padding: 0 20px;
}


/*                banner             */
.banner {
  height: 800px;
}

.banner_content {
  top: 260px;
  position: absolute;
  max-width: 660px;
  font-family: "Rounded Mplus 1c Light";
}

.banner_content_text_pr {
  font-size: 5.2vw;
  font-family: "Brusnika";
  font-weight: 100;
  margin: 0 0 15px 0;
}

.banner_content_tagline_pr {
  font-size: 6.2vw;
  font-family: "Brusnika";
  font-weight: 100;
  margin: 0 0 100px 300px;
}

.banner_content_btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-family: "Rounded Mplus 1c Light";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.banner_img {
  width: 100%;
}








.banner_image{
  max-width: 780px;
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 1;
}

.banner_flower{
  width: 500px;
  position: absolute;
  top: 0; 
  right: -5%;
  z-index: 1;
}
.banner_dino{
  position: relative;
  margin-top: 150px;
  right: 35%;
  z-index: 3;
}
.banner_leaves{
  position: absolute;
  max-width: 600px;
  top: 50%; 
  right: -5%;
    z-index: 10;
}

.banner_flower_img{
  width: 100%;
}
.banner_dino_img{
  width: 100%;
} 
.banner_leaves_img{
  width: 100%; 
}






.subscribe{
    max-width: 800px;
    margin: 100px auto 140px auto;
}
.subscribe_container{
    display: flex;
    gap: 30px;
}
.subscribe_1 {
    flex: 1; /* Равномерное распределение пространства */
    min-width: 0; /* Важно для корректной работы flex */
    padding: 40px 25px;
    background-color: var(--bg-color-one);
    box-sizing: border-box; /* Учитываем padding в ширине */
}
.subscribe_1_title{
    text-align: left;
}
.subscribe_1_text, .subscribe_1_proba{
    margin: 0;
    font-size: 18px;
}
.subscribe_1_price{
    display: flex;
    margin: 0;
}
.subscribe_1_price_text{
    font-size: 32px;
    margin: 0;
}

.subscribe_1_btn{
    margin-top: 60px;
    padding: 5px 40px;
    background-color: #6A9929;
    color: #FAFFFB;
    font-size: 22px;
    border: none;
    font-family: "Rounded Mplus 1c Light";
    border-radius: 15px;
width: 100%;
}
.subscribe_2_btn{
    margin-top: 35px;
}
.subscribe_a{
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}






.how_it_works{
    margin-bottom: 150px;
}
.how_it_works_title{
    margin-bottom: 0;
}
.how_it_works_warning{
    text-align: center;
}

.how_it_works_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.how_it_works_box{
    padding: 15px;
}
.how_it_works_box_image{
    display: flex;
    gap: 10px;
    
}
.how_it_works_box_image_hr{
    height: 3px;
    width: 100%;
    background-color: #12321A;
    margin: auto 0;
}
.how_it_works_box_title{
    font-size: 24px;
    font-weight: 700;
}
.how_it_works_box_text{
    font-size: 16px;
}










.advantages{
    margin-bottom: 100px;
}
.advantages_punkt{
    display: flex;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto 50px auto;
}
.advantages_punkt_info_title{
    font-size: 26px;
    font-weight: 600;
}
.advantages_punkt_info{
    max-width: 500px;
}
.advantages_punkt_info_text{
    font-size: 18px;
}
.advantages_punkt_image_img{
    width: 100%;
}



/*              адаптив            */
@media (max-width: 1400px) {
/*  header  */
.header_content2 {
  gap: 120px;
}
.banner {
  height: 740px;
}
/*  header  */

/*  banner  */
.banner_image {
  max-width: 720px;
}
.banner_flower {
  width: 470px;
}
.banner_leaves {
  max-width: 550px;
  top: 50%;
}
/*  banner  */
}




@media (max-width: 1300px) {
  /*  header  */
.header_content2 {
  gap: 120px;
}
/*  header  */

/*  banner  */
.banner_image {
  max-width: 680px;
}
.banner_flower {
  width: 440px;
}
.banner_leaves {
  max-width: 510px;
  top: 51%;
}
.banner_content {
  top: 240px;
  max-width: 550px;
}
.banner_content_text {
  font-size: 2.6vw;
  margin: 0 0 10px 0;
}
.banner_content_tagline {
  font-size: 18px;
  margin: 0 0 80px 0;
}
.banner_content_btn {
  width: 230px;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
}
/*  banner  */
}



@media (max-width: 1200px) {
/*  banner  */
.banner_image {
  max-width: 650px;
}
.banner_flower {
  width: 420px;
}
.banner_leaves {
  max-width: 480px;
  top: 52%;
}
.banner_content {
  max-width: 480px;
}
.banner_content_btn {
  height: 32px;
  font-size: 16px;
}
/*  banner  */
}




@media (max-width: 1100px) {
/*  header  */
.header_content2 {
  gap: 100px;
}
/*  header  */

/*  banner  */
.banner_image {
  max-width: 610px;
}
.banner_flower {
  width: 400px;
}
.banner_leaves {
  max-width: 450px;
  top: 52%;
}
.banner_content {
  max-width: 410px;
}
/*  banner  */
}


@media (max-width: 1000px){
/*  header  */
.header_content2 {
  gap: 50px;
}
/*  header  */

/*  banner  */
.banner {
  height: 620px;
}
.banner_image {
  max-width: 570px;
}
.banner_flower {
  width: 370px;
}
.banner_leaves {
  max-width: 410px;
  top: 54%;
}
.banner_content {
  top: 220px;
  max-width: 360px;
}
.banner_content_text {
  font-size: 2.9vw;
}
.banner_content_tagline {
  font-size: 16px;
  margin: 0 0 70px 0;
}
.banner_content_btn {
  height: 30px;
  width: 210px;
}
/*  banner  */

.how_it_works_box_title {
    font-size: 16px;
    font-weight: 700;
}
.how_it_works_box_text {
    font-size: 14px;
}
.how_it_works_box_image_img{
    width: 70px;
}
.how_it_works_box {
    padding: 5px;
}



.advantages_punkt_info {
    max-width: 350px;
}
.advantages_punkt_info_title {
    font-size: 20px;
}
.advantages_punkt_info_text {
    font-size: 15px;
}
.advantages_punkt {
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto 50px auto;
}
}


@media (max-width: 900px){
/*  header  */
.header_content2 {
  gap: 40px;
}
/*  header  */

/*  banner  */
.banner {
  height: 590px;
}
.banner_image {
  max-width: 500px;
}
.banner_flower {
  width: 340px;
}
.banner_leaves {
  max-width: 390px;
  top: 54%;
}
}

@media (max-width: 800px){

/*  banner  */
.banner_image {
  max-width: 450px;
}
.banner_flower {
  width: 300px;
}
.banner_leaves {
  max-width: 340px;
  top: 54%;
}
.banner_content {
  top: 180px;
  max-width: 330px;
}
.banner_content_text {
  font-size: 3.7vw;
}
.banner_content_tagline {
  font-size: 17px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  banner  */

.advantages_punkt {
    gap: 10px;
    max-width: 1100px;
    margin: 0 auto 30px auto;
}
.advantages_punkt_info {
    max-width: 250px;
}
    .advantages_punkt_info_title {
        margin-top: 0;
    }
        .advantages_punkt_info_text {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .subscribe_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h1 {
    font-family: "Brusnika";
    font-size: 45px;
    font-weight: 100;
    text-align: center;
}

.how_it_works_container {
    grid-template-columns: repeat(2, 1fr);
}
}



@media (max-width: 750px) {
/*  banner  */
.banner {
  height: 470px;
}
.banner_image {
  max-width: 420px;
}
.banner_dino {
  margin-top: 130px;
  right: 29%;
}
.banner_flower {
  width: 270px;
}
.banner_leaves {
  max-width: 270px;
  top: 54%;
}
.banner_content {
  top: 160px;
  max-width: 320px;
}
.banner_content_text {
  font-size: 3.7vw;
}
.banner_content_tagline {
  font-size: 17px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 40px;
  width: 270px;
  font-size: 18px;
}
/*  banner  */
}


@media (max-width: 700px){
/*  header  */
.header_content2 {
  gap: 200px;
}
/*  header  */

/*  banner  */
.banner_flower {
  display: none;
}
.banner_leaves {
  display: none;
}
.banner_dino {
  margin-top: 90px;
  right: -3%;
}
.banner_content_tagline_pr {
    font-size: 6.2vw;
    font-family: "Brusnika";
    font-weight: 100;
    margin: 0 0 100px 100px;
}
.banner_image {
max-width: 460px;
}
.banner_content {
  top: 120px;
  max-width: 350px;
}
.banner_content_text {
  font-size: 4.5vw;
}
.banner_content_tagline {
  font-size: 18px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 38px;
  width: 250px;
  font-size: 18px;
}
/*  banner  */



    .advantages_punkt {
display: block;
margin: 0 auto 60px auto;
    }
        .advantages_punkt_info {
        max-width: 100%;
    }
        .advantages_punkt_info_text {
        font-size: 16px;
    }
}



@media (max-width: 600px) {
/*  banner  */
/* .banner_dino {
  margin-top: 90px;
  right: -3%;
} */
.banner {
  height: 370px;
}
.banner_image {
max-width: 410px;
}
.banner_content {
  top: 120px;
  max-width: 287px;
}
.banner_content_text {
  font-size: 3.8vw;
}
.banner_content_tagline {
  font-size: 16px;
  margin: 0 0 50px 0;
}
.banner_content_btn {
  height: 35px;
  width: 210px;
  font-size: 17px;
}
/*  banner  */
}


@media (max-width: 550px){
.how_it_works_container {
    grid-template-columns: repeat(1, 1fr);
}
.how_it_works_box_image_hr {
    height: 1px;
    width: 100%;
    background-color: #12321A;
    margin: auto 0;
}
    h1 {
        font-family: "Brusnika";
        font-size: 35px;
        font-weight: 100;
        text-align: center;
    }


.subscribe, .how_it_works {
    margin-bottom: 70px;
}
.subscribe_1_btn {
    margin-top: 30px;
    padding: 5px 40px;
    background-color: #6A9929;
    color: #FAFFFB;
    font-size: 17px;
    border: none;
    font-family: "Rounded Mplus 1c Light";
    border-radius: 10px;
    width: 100%;
}
.subscribe_1_price_text {
    font-size: 26px;
    margin-top: 5px;
}
.subscribe_1 {
    flex: 1;
    min-width: 0;
    padding: 20px 15px;
}
}


@media (max-width: 400px){

    .banner_content_tagline_pr {
    font-size: 8.2vw;
    font-family: "Brusnika";
    font-weight: 100;
    margin: 0 0 100px 60px;
}
.banner_content_text {
  font-size: 5.5vw;
}

        .advantages_punkt_info_title {
        font-size: 17px;
    }
}