@font-face {
  font-family: "Brusnika";
  src: url("../fonts/Brusnika.otf");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

@font-face {
  font-family: "Rounded Mplus 1c Light";
  src: url("../fonts/MPLUSRounded1c-Light.ttf");
}

html {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: var(--fon);
  color: var(--text-color);
  font-family: "Rounded Mplus 1c";
  position: relative;
  padding: 0 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: var(--border-color);
}

input[type='checkbox'] {
  width: 30px;
  /* background-color: #B0206B; */
  border: none;
}

:root {
  --fon: #FAFFFB;
  --text-color: #12321A;
  --button-bg: #6A9929;
  --button-text: #FAFFFB;
  --button-bg-active: #A0B297;
  --border-color-active: #A0B297;
  --bg-color-one: #D6E2CC;
  --bg-color-two: #F4EFE2;
  --bg-color-three: #A0B297;

  /* --header-bg: #fff; */
  /* --card-bg: #fff; */
  /* --border-color: #410e28; */
  /* --chekbox: #EDC6D1; */
}




/*                    modal      */
  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 1000;
  }
  .modal-content{
    /* text-align: center;    */
    max-width: 1000px;
    padding: 50px 40px;
    border: none !important;
    background-color: var(--bg-color-one);
    display: flex;
    gap: 60px;
  }
  .modal-conteiner-dino{
    max-width: 380px;
    margin: auto;
  }
  .dino-img{
    width: 100%;
    
  }



  .modal-conteiner-form{
    max-width: 440px;
  }
  .close-modal {
  width: 35px;
  font-size: 28px;
  margin: 0 0 20px 0;
  position: relative;
  cursor: pointer;
}
  .reg-auto{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 15px auto 40px auto;
    
  }
 .akk{
    cursor: pointer;
 }
 .akk:hover{
    text-decoration: underline;
 }
  .akk.active{
    cursor: auto;
    text-decoration: underline;
  }

  .title{
    font-size: 2.4vw;
    font-family: "Brusnika";
    font-weight: 300;
    margin: 0 auto 30px auto;
  }
  .input{
    width: 100%;
    /* max-width: 350px; */
    height: 30px;
    padding: 3px 10px;
    background-color: var(--bg-color-two);
    border: none !important;
    font-size: 18px;
    color: var(--text-color);
    border-radius: 8px;
    margin-bottom: 30px;
  }
  .input:focus{
    border: none !important;
    outline: none;
  }
  .input:nth-child(5) {
    margin-bottom: 30px;
  }
  .approval{
    display: flex;
    width: 100%;
    gap: 15px;
    margin: 0 auto 0 auto;
  }
  .approval_inp {
    display: none; 
  }
  .custom-checkbox {
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    background-color: var(--bg-color-two); 
    border: 0px; 
    border-radius: 10px;
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  /* .custom-checkbox.checked {
    background-color: #B0206B; 
  } */
  .approval_text{
    font-size: 12px;
    margin: 0;
    text-align: start;
  }
  .btn {
    text-align: center;
    align-items: center;
    font-size: 18px;
    margin: 40px auto 0 auto;
    font-weight: 500;
    font-family: "Rounded Mplus 1c";
    height: 35px;
    width: 230px;
    background-color: var(--button-bg);
    border: none;
    border-radius: 12px;
    color: var(--button-text);
    cursor: pointer;
    transition: background-color 0.3s; 
  }  
  /* .btn:hover {
    background-color: #c17099; 
  } */
  



/*                                адаптив          */

  @media (max-width: 1100px) {
.modal-conteiner-dino {
    max-width: 230px;
    margin: auto;
}
.modal-conteiner-form {
    max-width: 370px;
}
  }

  @media (max-width: 900px) {
    /* .modal-content{   
      max-width: 420px;
      padding: 40px 30px;
    } */
    .title{
      font-size: 4.0vw;
    }
    .input{
      max-width: 330px;
      font-size: 15px;
    }
    .approval {
      width: 330px;
      gap: 15px;
    }
    .btn {
      font-size: 16px;
      height: 37px;
      width: 330px;
      border-radius: 10px;
    }
    .reg-auto {
    display: flex
;
    justify-content: space-between;
    font-size: 17px;
    margin: 15px auto 40px auto;
}
    
  }

@media (max-width: 700px) {
  .modal-content{
    padding: 30px 25px;
    margin: 0 20px;
  }
  .title{
    font-size: 3.6vw;
  }
  .input{
    font-size: 14px;
        width: 90%;
  }
  .custom-checkbox {
    border-radius: 8px;
  }
  .approval_text {
    font-size: 15px;
}
}


@media (max-width: 630px) {
    .modal-conteiner-dino {
        display: none;
    }
}


@media (max-width: 550px) {
  .modal-content{   
    max-width: 340px;
    padding: 28px 22px;
  }
  .title{
    font-size: 5.6vw;
  }
  .input{
    max-width: 330px;
    height: 40px;
    font-size: 17px;
    margin-bottom: 35px;
  }
      .reg-auto {
        font-size: 20px;
    }
  .approval {
    width: 300px;
    margin: 0 auto 40px auto;
  }
  .btn {
    font-size: 14px;
    height: 34px;
    width: 300px;
  }
}

@media (max-width: 450px) {
  body {
    background-color: var(--bg-color);
  }
  .modal-content{
    border: none;
    padding: 28px 30px;
  }
  .title{
    font-size: 6.7vw;
  }
  .input{
    max-width: 340px;
    font-size: 17px;
    margin-bottom: 45px;
  }
  .custom-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
}
  .approval {
    width: 340px;
    margin: 0 auto 40px auto;
  }
  .btn {
    font-size: 17px;
    height: 38px;
  }
}

@media (max-width: 400px) {
  .title{
    font-size: 10.0vw;
  }
}
